{% extends "dashboard/base.html.twig" %}

{% block body %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
	</div>

	<!-- Content Row -->
	<div class="row">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Demandes en attente</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ demandesAttentes }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-spinner fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Demandes (ce mois-ci)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ demandesMensuelles }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar-days fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Demandes traitées
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ demandesTraitees }}%</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: {{ demandesTraitees }}%" aria-valuenow="{{ demandesTraitees }}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Total demandes</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ demandesTotales }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Content Row -->

	<div
		class="row">

		<!-- Area Chart -->
		<div class="col-xl-12 col-lg-11">
			<div
				class="card shadow mb-4">
				<!-- Card Header - Dropdown -->
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Demandes récentes</h6>
				</div>
				<!-- Card Body -->
				<div class="card-body">
					<table class="table table-borderless table-hover">
						<tbody>
							{% for form in forms %}
								<tr>
									<td class="align-middle">{{ form.eventType.name }}</td>
									<td class="align-middle">{{ form.eventDate|date('d/m/Y') }}</td>
									<td class="align-middle">{{ form.contactName }}</td>
									<td class="align-middle">{{ form.contactMail }}
										{% if form.contactPhone %}
											-
											{{ form.contactPhone }}
										{% endif %}
									</td>
									<td class="align-middle">
										{% if form.status == 0 %}
											<span class="badge badge-warning">En attente</span>
										{% elseif form.status == 1 %}
											<span class="badge badge-success">Traité</span>
										{% endif %}
									</td>
									<td class="align-middle">
										<a title="Voir" href="{{ path('app_dashboard_form_show', {'id': form.id}) }}" class="btn btn-circle btn-info">
											<i class="fa-solid fa-eye"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">Aucune demande non traitée</td>
								</tr>
							{% endfor %}
						</tbody>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div></div>{% endblock %}
