<ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_index') }}">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fa-solid fa-house"></i>
		</div>
		<div class="sidebar-brand-text mx-3">By Me By Bo
		</div>
	</a>

	<li class="nav-item active">
		<a class="nav-link" href="{{ path('app_dashboard_index') }}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Tableau de bord</span>
		</a>
	</li>

	<hr class="sidebar-divider">

	<div class="sidebar-heading mt-3">
		Bonjour
		{{ app.user.username }}
		!
	</div>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_logout') }}">
			<i class="fa-solid fa-person-running"></i>
			<span class="text-danger">Déconnexion</span>
		</a>
	</li>

	<hr class="sidebar-divider">

	<div class="sidebar-heading">
		Communication
	</div>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_dashboard_form_list') }}">
			<i class="fa-solid fa-address-book"></i>
			<span>Demandes</span>
		</a>
	</li>

	<hr class="sidebar-divider">

	<div class="sidebar-heading">
		Édition
	</div>

	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_dashboard_type_list') }}">
			<i class="fa-solid fa-list"></i>
			<span>Types de demande</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_dashboard_social_list') }}">
			<i class="fa-solid fa-hashtag"></i>
			<span>Réseaux sociaux</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_dashboard_page_list') }}">
			<i class="fa-regular fa-file"></i>
			<span>Page d'accueil</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('app_dashboard_contact_list') }}">
			<i class="fa-solid fa-envelope"></i>
			<span>Mails / Notifications</span>
		</a>
	</li>
</ul>
